@font-face {
    font-family: Cooper;
    src: url(/fonts/Cooper.ttf);
}

:root {
    font-size: clamp(1rem, calc(0.5rem + 0.625vw), 1.5rem);
}

body {
    margin: auto;
    margin-top: 0;
    background-color: black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

.content {
    max-width: 160rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
}

.header {
    position: fixed;
    background-color: #2BA69C;
    width: 100vw;
    z-index: 10;
}

.headerContent {
    display: flex;
    max-width: 160rem;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    font-family: Cooper;
    color: #fff;
    margin: auto;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-right: 50px;
    font-weight: bold;
}

.langSel {
    margin: 2vw;
    border-radius: 20px;
    padding: 5px;
    border-color: #000;
    border-width: 0px;
}

#title {
    margin-right: auto;
    padding-left: 2vw;
}

#title:hover {
    color: #F2A227
}

.text {
    font-family: Arial;
}

.page {
    display: flex;
    flex-direction: column;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2BA69C;
    width: 100%;
    height: 90vh;
}

.homeImage {
    max-width: 500px;
    width: 95%;
    height: auto;
}

.homeText {
    max-width: 700px;
    width: 100%;
    height: auto;
    color: white;
    font-size: 40px;
    text-align: center;
}

#projectDescription {
    max-width: 35vw;
    width: 80%;
    overflow: hidden;
    font-size: 1.2vw;
}

.footer {
    width: 100%;
    background-color: #F2A227;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.link {
    width: 50px;
    height: auto;
    padding: 5px;
    align-self: flex-start;
    cursor: pointer;
}

.contact:hover {
    color: #2BA69C
}

h3 {
    font-family: 'cooper';
    font-size: 1.5rem;
}

h4 {
    font-family: 'Arial';
    font-size: 1.25rem;
}

.arrow {
    display: none;
}

#clickable {
    cursor: pointer;
}

#clickable:hover {
    color: rgb(242, 162, 39);
}

#titleGamification {
    max-width: 800px;
    font-size: 2.5vw;
}

#projectDescriptionPage {
    max-width: 800px;
    width: 95%;
    font-size: 18px;
    text-align: justify;
}

.bigImage.animate {
    transform: translateX(0);
    opacity: 1;
}

.subTitle {
    font-family: Cooper;
}

.projectInfoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 50px;
}

#projectDevelopment {
    margin-bottom: 50px;
}

#bb_small {
    background-size: auto 600px;
}

#bd_bigImage {
    background-image: url('/images/Boodunnit/street.jpg');
}

#bd_smallIm1 {
    background-image: url('/images/Boodunnit/cementary2.jpg');
}

#bd_smallIm2 {
    background-image: url('/images/Boodunnit/boodunnit.jpg');
}

#vr_bigImage {
    background-image: url('/images/SOTA/beach.jpg');
}

#vr_smallIm1 {
    background-image: url('/images/SOTA/npcdialog.jpg');
}

#vr_smallIm2 {
    background-image: url('/images/SOTA/goal.jpg');
}

#gf_bigImage {
    background-image: url('/images/gamification/challenge screen.jpg');
}

#gf_bigImage2 {
    background-image: url('/images/gamification/prototypeScreen.jpg');
}

#ib_bigImage {
    background-image: url('/images/Inabox/beginnerWorld.jpg');
}

#ib_smallIm1 {
    background-image: url('/images/Inabox/playercharacter.jpg');
    background-size: auto 500px;
}

#ib_smallIm2 {
    background-image: url('/images/Inabox/spaceWorld.jpg');
}

#bc_bigImage {
    background-image: url('/images/BurgerCrush/crushBanner.jpg');
    max-width: 3000px;
    width: 100vw;
    height: auto;
    background-size: auto;
}

#rf_bigImage {
    background-image: url('/images/recommender/FR_mock_recommendation.jpg');
    max-width: 3000px;
    width: 100vw;
    height: auto;
    background-size: auto;
}

.footerText {
    font-family: Cooper;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    max-width: 90%;
}

@media (max-width: 1000px) and (min-width: 765px) {
    .homeText {
        font-size: 25px;
        width: 60%;
    }
    .homeImage {
        max-width: 400px;
    }
    #projectType {
        font-size: 2vw;
    }
    #projectDescriptionPage {
        max-width: 600px
    }
}

/* mobile */
@media (max-width: 765px) {
    .projectlist {
        flex-direction: column;
        flex-wrap: wrap;
        cursor: pointer;
    }
    .projectWrapper {
        max-width: 100vw;
        height: 300px;
        width: 100vw;
        margin-left: 0px;
        cursor: pointer;
    }
    .projectImage {
        height: 300px;
        width: 100vw;
        max-width: 100vw;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        position: relative;
        cursor: pointer;
    }
    .p1, .p2, .p3, .p4, .p5, .p6 {
        background-size: auto 80vw;
    }
    .projectWrapper.pj1, .projectWrapper.pj2, .projectWrapper.pj3, .projectWrapper.pj4, .projectWrapper.pj5, .projectWrapper.pj6 {
        transition-delay: 0.25s;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 16px;
    }
    #projectDescription {
        font-size: 9px;
    }
    .headerContent {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        max-width: 700px;
        width: 95vw;
        margin: 0 auto;
    }
    .langSel {
        position: absolute;
        right: 5px;
        top: 5px;
    }
    #title {
        margin-right: 0;
        text-align: center;
        flex-grow: 1;
        padding-left: 0px;
    }
    .projectIntro {
        flex-direction: column;
        margin-bottom: 40px;
    }
    .projectName {
        font-size: max(12vw, 10px);
    }
    #titleGamification {
        font-size: max(8vw, 10px);
    }
    #projectType {
        font-size: max(4vw, 4px);
    }
    .projectDescription {
        font-size: max(12vw, 10px);
        width: 100%;
        margin: auto;
    }
    .bigImage {
        height: 300px;
        background-size: auto 300px;
        z-index: 0;
    }
    .arrow {
        display: block;
        background-image: url('/images/Icons/ArrowPointer.png');
        background-size: 50px, 50px;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 125px;
        pointer-events: all;
    }
    .arrow.active {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    #middlemask {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .home {
        flex-direction: column;
    }
    .homeImage {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 75px;
    }
    .homeText {
        font-size: 20px;
        width: 80%
    }
    #bc_bigImage, #rf_bigImage {
        max-width: 100vw;
        width: 100vw;
        background-size: 100vw auto;
    }
    #rf_bigImage {
        height: 60vw;
    }
}